<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF-oyZTxSVz7OrzYWX6M3L65imv6V0_NA</string>
	<key>GCM_SENDER_ID</key>
	<string>1034077563993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yec.sleepsoundsmix</string>
	<key>PROJECT_ID</key>
	<string>comyecsleepsoundsmix</string>
	<key>STORAGE_BUCKET</key>
	<string>comyecsleepsoundsmix.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034077563993:ios:ca9ef5fdf7a5029a19d548</string>
</dict>
</plist>